header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 160px;
}

.logo {
  text-align: center;
  color: azure;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 4px;
}

.loginBlock {
  float: right;
  color: white;
  text-align: right;
}

@media (max-width: 480px) {
  .logo {
    width: 98%;
    font-size: 12px;
  }
}