@media (min-width: 1200px) {
    .nav_ls {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        height: 40px;
        background-color: orange;
        box-shadow: 0 0 10px black;
    }

    .nav_ls>ul {
        margin: 0 auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        list-style-type: none;
        text-transform: uppercase;
        /* border: 1px solid yellow; */
    }

    .nav_ls a {
        display: inline-block;
        text-decoration: none;
        color: black;
        border: 1px solid yellow;
        padding: 5px;
    }

    .nav_ls a:hover {
        animation-name: hover_link;
        animation-duration: 0.3s;
    }

    .nav_ls a.activeLink {
        color: azure;
        font-weight: bold;
    }

}



@keyframes hover_link {
    70% {
        font-size: 1.2em;
        transform: rotate(-12deg);
    }
}

@media (min-width: 481px) and (max-width: 1199px) {}

@media (max-width: 480px) {
    .nav_sm>ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav_sm {
        top: 0;
        height: auto;
        background-color: orange;
        box-shadow: 0 0 10px black;
    }
}