.messageWrapper {
    display: table;
    margin-bottom: 10px;
    width: 100%;
    padding: 4px;
    /*размер рамки */
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.message {
    background: #FFA500;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    /*размер рамки */

}